<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="IE=edge" http-equiv="X-UA-Compatible" />
		<meta content="width=device-width,initial-scale=1" name="viewport" />
		<meta content="description" name="description" />
		<meta name="google" content="notranslate" />
		<meta
			content="Mashup templates have been developped by Orson.io team"
			name="author"
		/>

		<!-- Disable tap highlight on IE -->
		<meta name="msapplication-tap-highlight" content="no" />

		<title>Generate Cover Page</title>

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link href="./static/style.css" rel="stylesheet" />
	</head>

	<body class="">
		<div class="container mt-5 text-center">
			<div class="row">
				<div class="col-md-8 mx-auto mt-5">
					<h2>Generate cover page for</h2>
					<a class="text-light" href="/labreport"><button value="Submit" type="button" class="btn btn-primary p-5">LAB REPORT</button></a>
					
					<a class="text-light" href="/assignment"><button value="Submit" type="button" class="btn btn-info p-5">Assignment</button></a>
				</div>
			</div>
		</div>
	</body>
</html>
